<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      function load() {
        setTimeout(
          "window.open('https://eng103-iot-project.glitch.me/', '_self');",
          60000
        );
      }
    </script>
    <style>
      * {
      box-sizing: border-box;
      }
      .row {
      display: flex;
      justify-content: center;
      }
      .column {
      flex: 50%;
      padding: 5px;
      }
      table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
      align-self: center;
      }
      th, td {
      text-align: left;
      padding: 16px;
      }
      tr:nth-child(even) {
      background-color: #f2f2f2;
      }
      .WLine2 {
      border-left: 180px solid lightgray;
      height: {{ blue_line }}px;
      }
      .WLine1 {
      border-left: 180px solid #28a1f7;
      height: {{ gray_line }}px;
      }
      .TLine2 {
      border-left: 180px solid lightgray;
      height:{{ red_line }}px;
      }
      .TLine1 {
      border-left: 180px solid #fc3d03;
      height: {{ red_gray_line }}px;
      }
    </style>
  </head>
  <body onload="load()">
    <center>
      <br />
      <h1>
        ENG-103 IOT Water Level & Temperature Monitor
      </h1>
      <h2>
        Data Last Recorded On {{ timestamp }}
      </h2>
      <br />
      <iframe
        name="hiddenFrame"
        width="0"
        height="0"
        border="0"
        style="display: none;"
      ></iframe>
      <div class="form">
        <form
          action="https://eng103-iot-project.glitch.me/config"
          method="POST"
          id="myForm"
          name="myForm"
          target="hiddenFrame"
        >
          <div>
            <label for="tankHeight">Tank Height (M):</label>
            <input
              name="tankHeight"
              id="tankHeight"
              value="{{config_height}}"
            />
          </div>
          <div>
            <label for="tankDiameter">Tank Diameter (M):</label>
            <input
              name="tankDiameter"
              id="tankDiameter"
              value="{{config_diameter}}"
            />
          </div>
          <div>
            <label for="minWaterLevel">Minimum Water Level (%):</label>
            <input
              name="minWaterLevel"
              id="minWaterLevel"
              value="{{config_min_level}}"
            />
          </div>
          <div>
            <label for="maxWaterLevel">Maximum Water Level (%):</label>
            <input
              name="maxWaterLevel"
              id="maxWaterLevel"
              value="{{config_max_level}}"
            />
          </div>
          <div>
            <label for="phoneNumber">Phone Number:</label>
            <input
              name="phoneNumber"
              id="phoneNumber"
              value="{{config_phone_number}}"
            />
          </div>
          <div>
            <button>Send</button>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="columm">
          <table>
            <tr>
              <td>
                <br />
                <h2>
                  Water Level: {{ waterVolActual }}L
                </h2>
                <h2>
                  {{ water_percent }}% Full
                </h2>
                <div class="WLine2"></div>
                <div class="WLine1"></div>
              </td>
            </tr>
          </table>
        </div>

        <div class="columm">
          <table>
            <tr>
              <td>
                <br />
                <h2>
                  Temperature: {{ temperature }}c
                </h2>
                <h2>
                  <br />
                </h2>
                <div class="TLine2"></div>
                <div class="TLine1"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>
      <canvas id="water-line-chart" width="700" height="300"></canvas>
      <canvas id="temp-line-chart" width="700" height="300"></canvas>
      
      <script>
        const d = {{ data|tojson }}
        const data = JSON.parse(d)

        const water_keys = Object.keys(data["waterlevel"]);
        const water_values = Object.values(data["waterlevel"]);
        const water_timestamps = [];
        const water_levels = [];
        

        // TODO: 
        // Access proper config height and diameter
        const config_diameter = 3
        const config_height = 3

        for (let i = 0; i < water_values.length; i++) {
          water_timestamps.push(
            moment.unix(water_keys[i]).format("MMM Do hh:mma")
          );
              const tankVol = (config_diameter/2)**2 * 3.141659 * config_height*1000
              const waterVol = (config_diameter/2)**2 * 3.141659 * (water_values[i]  / 100)*1000
              let waterVolActual = tankVol - waterVol
              if (waterVolActual <= 0) {
                waterVolActual = 0
              }
              
              water_levels.push(waterVolActual.toFixed(0))
        }

        new Chart(document.getElementById("water-line-chart"), {
          type: "line",
          data: {
            labels: water_timestamps,
            datasets: [
              {
                data: water_levels,
                label: "Water Level",
                borderColor: "#3e95cd",
                fill: false
              }
            ]
          },
          options: {
            responsive: false,
            tooltips: {
              mode: "index",
              intersect: false,
              callbacks: {
                label: (tooltipItem, data) => {
                  return `${
                    data.datasets[tooltipItem.datasetIndex].label
                  }: ${tooltipItem.yLabel.toFixed(2)}L`;
                }
              },
              title: {
                display: true,
                text: "Water Level"
              }
            }
          }
        });

        const temp_keys = Object.keys(data["temp"]);
        const temp_values = Object.values(data["temp"]);
        const temp_timestamps = [];

        for (let i = 0; i < temp_values.length; i++) {
          temp_timestamps.push(
            moment.unix(temp_keys[i]).format("MMM Do hh:mma")
          );
        }

        new Chart(document.getElementById("temp-line-chart"), {
          type: "line",
          data: {
            labels: temp_timestamps,
            datasets: [
              {
                data: temp_values,
                label: "Temperature",
                borderColor: "#f56642",
                fill: false
              }
            ]
          },
          options: {
            responsive: false,
            tooltips: {
              mode: "index",
              intersect: false,
              callbacks: {
                label: (tooltipItem, data) => {
                  return `${
                    data.datasets[tooltipItem.datasetIndex].label
                  }: ${tooltipItem.yLabel}c`;
                }
              },
              title: {
                display: true,
                text: "Temperature"
              }
            }
          }
        });
      </script>
    </center>
  </body>
</html>
